<div class="update-box" id="updateBox">
  <div class="update-content">
    <h2>Modification du personnage</h2>
    <form
    id="form-update"
    class="article__form"
    >
    <div class="form__container__section">
      <section class="form__section-input-text">
        <label for="updateName">Nom du personnage</label>
        <input
          class="height2 input-text"
          type="text"
          id="updateName"
          name="name"
          maxlength="20"
          required
        />
      </section>
      <section class="form__section-input-text">
        <label for="updateType">Enclos</label>
        <select class="height2 select-class" id="updateType" name="type" required>
          <option value="private">Privée</option>
          <option value="public">Public</option>
        </select>
      </section>
      <section class="form__section-input-text">
        <label for="updateRepro">Reproductions</label>
        <input class="height2 form__number-input" type="number" name="nbrepro" id="numberInput" min="0" max="20" value="0" required>
      </section>
      <section class="form__section-input-text">
        <label for="update-account">Compte</label>
        <select class="height2" id="update-account" name="accountId" required>
          <% accounts.forEach( account => { %>
           <option value="<%= account.id %>"><%= account.name %></option>
          <% }) %>
        </select>
      </section>
    </div>
    <label for="updateClasse">Classe</label>
    <select class="height2 select-class" id="updateClasse" name="classe" required>
      <option value="enu" data-img="/images/enu.png">Enu</option>
      <option value="cra" data-img="/images/cra.png">Cra</option>
      <option value="iop" data-img="/images/iop.png">Iop</option>
      <option value="sadi" data-img="/images/sadi.png">Sadi</option>
      <option value="sacri" data-img="/images/sacri.png">Sacri</option>
      <option value="feca" data-img="/images/feca.png">Feca</option>
      <option value="panda" data-img="/images/panda.png">Panda</option>
      <option value="eni" data-img="/images/eni.png">Eni</option>
      <option value="osa" data-img="/images/osa.png">Osa</option>
      <option value="eca" data-img="/images/eca.png">Eca</option>
      <option value="sram" data-img="/images/sram.png">Sram</option>
      <option value="xelor" data-img="/images/xelor.png">Xelor</option>
    </select>

    <div class="genre-container">
      <section class="section-genre">
        <h2>Male</h2>
        <label for="update-spemale">Spécialité</label>
        <input
          type="radio"
          id="update-aucune-m"
          name="speMale"
          value="aucune"
          checked
          required
        />
        <label for="update-aucune-m">Aucune</label>
        <input type="radio" id="update-repro-m" name="speMale" value="repro" />
        <label for="update-repro-m">Repro</label>
        <input type="radio" id="update-came-m" name="speMale" value="camé" />
        <label for="update-came-m">Camé</label>
        <div class="open-breed" id="update-open-breed-male">+</div>
      </section>
      <section class="section-genre">
        <h2>Femelle</h2>
        <label for="update-spefemale">Spécialité</label>
        <input
          type="radio"
          id="update-aucune-f"
          name="speFemale"
          value="aucune"
          checked
          required
        />
        <label for="update-aucune-f">Aucune</label>
        <input type="radio" id="update-repro-f" name="speFemale" value="repro" />
        <label for="update-repro-f">Repro</label>
        <input type="radio" id="update-came-f" name="speFemale" value="camé" />
        <label for="update-came-f">Camé</label>
        <div class="open-breed" id="update-open-breed-female">+</div>
      </section>
      <input class="hidden" id="update-breed-male-value" type="text" name="breedMale" value="" required>
      <input class="hidden" id="update-breed-female-value" type="text" name="breedFemale" value="" required>
    </div>

    <div class="breed-list hidden" id="update-breed-list">
      <section class="section-breed">
        <% breeds.forEach(breed => { %>
          <figure class="update-figure-dd">
            <img class="image-dd" src="<%= breed.image%>" alt="Dragodinde <%= breed.color%>">
            <figcaption class="figcaption-dd"><%= breed.id%></figcaption>
          </figure>
        <% }) %>
      </section>
        <input
          class="input-submit --bgred"
          type="button"
          id="update-close-breed"
          value="X"
          onclick="confirmUpdate()"
        />
    </div>

    <div>
      <input
        class="input-submit --bgred"
        type="button"
        id="update-cancelAdd"
        value="X"
        onclick="closeUpdate()"
      />
      <input class="input-submit --bggreen" type="submit" value="O" />
      <span id="selectedUpdate" class="hidden"></span>
    </div>
  </form>
  </div>
</div>