<div class="modal" id="updateModal" >
  <div class="modal-content modal-style-update">
    <span class="close close-modal-btn">&times;</span>
    <h2 class="modal__title">UPDATE</h2> 
    <div class="modal__body">
      <h3 class="modal__update-account-name">Compte</h3>
      <form
    id="updateForm"
    class="article__form"
    >
    <div class="form__container__section">
      <section class="form__section-input-text">
        <label for="update-name">Nom</label>
        <input
          class="input-model"
          type="text"
          id="update-name"
          name="name"
          maxlength="20"
          required
        />
      </section>
      <section class="form__section-input-text">
        <label for="update-type">Enclos</label>
        <select class="height2 select-class" id="update-type" name="type" required>
          <option value="private">Privée</option>
          <option value="public">Public</option>
        </select>
      </section>
      <section class="form__section-input-text">
        <label for="number-input">Reproductions</label>
        <input class="height2 form__number-input input-model" type="number" name="nbrepro" id="number-input" min="0" max="20" value="0" required>
      </section>
      <section class="form__section-input-text">
        <label for="update-account">Compte</label>
        <select class="height2" id="update-account" name="accountId" required>
          <% accounts.forEach( account => { %>
           <option value="<%= account.id %>"><%= account.name %></option>
          <% }) %>
        </select>
      </section>
    </div>
    <label for="update-classe">Classe</label>
    <select class="height2 select-class" id="update-classe" name="classe" required>
      <option value="enu" data-img="/images/enu.png">Enu</option>
      <option value="cra" data-img="/images/cra.png">Cra</option>
      <option value="iop" data-img="/images/iop.png">Iop</option>
      <option value="sadi" data-img="/images/sadi.png">Sadi</option>
      <option value="sacri" data-img="/images/sacri.png">Sacri</option>
      <option value="feca" data-img="/images/feca.png">Feca</option>
      <option value="panda" data-img="/images/panda.png">Panda</option>
      <option value="eni" data-img="/images/eni.png">Eni</option>
      <option value="osa" data-img="/images/osa.png">Osa</option>
      <option value="eca" data-img="/images/eca.png">Eca</option>
      <option value="sram" data-img="/images/sram.png">Sram</option>
      <option value="xelor" data-img="/images/xelor.png">Xelor</option>
    </select>

    <div class="genre-container">
      <section class="section-genre">
        <h2><i class="fa-solid fa-mars fa-sm" style="color: #1d5ac3;"></i></h2>
        <label for="update-aucune-m">Aucune</label>
        <input
          type="radio"
          id="update-aucune-m"
          name="speMale"
          value="aucune"
          checked
          required
        />
        <label for="update-repro-m">Repro</label>
        <input type="radio" id="update-repro-m" name="speMale" value="repro" />
        <label for="update-came-m">Camé</label>
        <input type="radio" id="update-came-m" name="speMale" value="camé" />
        <div class="open-breed" id="update-open-breed-male">+</div>
      </section>
      <section class="section-genre">
        <h2><i class="fa-solid fa-venus fa-sm" style="color: #fb63fd;"></i></h2>
        <label for="update-aucune-f">Aucune</label>
        <input
          type="radio"
          id="update-aucune-f"
          name="speFemale"
          value="aucune"
          checked
          required
        />
        <label for="update-repro-f">Repro</label>
        <input type="radio" id="update-repro-f" name="speFemale" value="repro" />
        <label for="update-came-f">Camé</label>
        <input type="radio" id="update-came-f" name="speFemale" value="camé" />
        <div class="open-breed" id="update-open-breed-female">+</div>
      </section>
      <input class="hidden" id="update-breed-male-value" type="text" name="breedMale" value="" required>
      <input class="hidden" id="update-breed-female-value" type="text" name="breedFemale" value="" required>
    </div>

    <div class="modal-submit-buttons">
      <input class="is-cancel" type="button" class="close-modal-btn" id="update-cancel" value="Annuler">
      <input class="submit is-success" id="update-submit" type="submit" value="Actualiser">
    </div>
  </form>
    </div>

    <div class="breed-list hidden" id="update-breed-list">
      <h2 class="modal__title">RACES</h2> 
      
      <div class="search-container breed-select">
        <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
          <input 
            class="input-search" 
            type="search" 
            id="search-dd-update"
            name="search"
            maxlength="20"
            placeholder="Recherche par race"
            required
          />
          <span class="clear-search">&times;</span>
        </div>
      </div>

      <section class="section-breed">

        <% for (let index = 1; index < 11; index++) {%>
          <div class="stade-container">
            <h3>Stade <%=index%></h3>
            <div class="stade__breed-container" data-stade="<%=index%>"></div>
          </div>
        <%}%>
      
        <% breeds.forEach(breed => { %>
          <figure data-color="<%= breed.color%>" data-id="<%= breed.id%>" data-stade="<%= breed.stade%>" class="update-figure-dd">
            <img class="image-dd" src="<%= breed.image%>" alt="Dragodinde <%= breed.color%>">
          </figure>
        <% }) %>
      </section>
      <div class="modal-submit-buttons">
        <input class="is-cancel input-submit" type="button" id="update-close-breed" value="Annuler">
      </div>
    </div>

  </div>
</div>