<%- include('./partials/header'); -%>
<main class="admin__main">
  <h1 class="h1-user-page">Mes comptes</h1>
  
  <div class="container-list">
  <% locals.accounts.forEach(account => { %>   
    <div style="background-color:<%= account.color %>" class=" account__color">     
      <article class="article__account">
        <div class="article__title"><h2><%= account.name %></h2></div>
        <a class="link-div" href="/accounts/<%= account.id%>/characters">
          <img class="logo__server" src="/images/<%= account.server.img %>" alt="image du serveur">
        </a>
        <div class="article__title"><h2><%= account.server.name %></h2></div>
        <div class="container-logo">
          <a href="/accounts/<%= account.id%>/characters">
            <i class="fa-solid fa-person-half-dress input-logo bg--yellow" style="color: #000000;"></i>
          </a>
          <a href="/account/update/<%= account.id%>">
            <i class="fa-solid fa-pen input-logo bg--blue" style="color: #ffffff;"></i>
          </a>
          <a href="/account/delete/<%= account.id%>">
            <i class="fa-solid fa-xmark input-logo bg--red" style="color: #ffffff;"></i>
          </a>
        </div>
      </article>
    </div>       
  <% }) %>
    <article class="account__color bg--white">
      <button id="addButton" class="circular-button">+</button>
      <form action="/account-add/<%= locals.user ? locals.user.id : ''%>" method="POST" id="addForm" class="addAccountForm hidden">
        <label for="name">Nom du compte</label>
        <input class="h1r5" type="text" id="name" name="name" maxlength="20" required>
        <label for="color">Choisir une couleur :</label>
        <div class="color-picker">
          <input type="color" id="color" name="color"><span class="bold">#</span>
          <input type="text" id="selected-color" pattern="[0-9a-fA-F]{3}|[0-9a-fA-F]{6}" maxlength="6" value="000000">
        </div>
        <label for="server">Serveur</label>
        <select class="h1r5" id="server" name="server" required>
          <option value="" disabled selected hidden>Choisissez un serveur</option>
          <% servers.forEach(server => { %>
           <option value="<%= server.id %>"><%= server.name %></option>
          <% }) %>
        </select>
        <div>
          <input class="input-submit-bis bg--red" type="button" id="cancelAdd" value="X">
          <input class="input-submit-bis bg--green" type="submit" value="O">
        </div>
      </form>
    </article>
  </div>
</main>

<script>
  function expandHexColor(hex) {
    if (hex.length === 3) {
        return hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    else {
        return hex;
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('addButton');
    const addServerForm = document.getElementById('addForm');
    const cancelButton = document.getElementById('cancelAdd');
    const colorPicker = document.getElementById('color');
    const selectedColor = document.getElementById('selected-color');

    addButton.addEventListener('click', function() {
      addServerForm.classList.toggle('hidden');
      addButton.classList.toggle('hidden');
    });

    cancelButton.addEventListener('click', function() {
      addServerForm.classList.toggle('hidden');
      addButton.classList.toggle('hidden');
    });
    
    colorPicker.addEventListener('input', function() {
      selectedColor.value = colorPicker.value.substring(1);
    });

    selectedColor.addEventListener('input', function() {
      const input = event.target;
      const currentValue = input.value;
      const filteredValue = currentValue.replace(/[^0-9a-fA-F]+/g, '');

      if (currentValue !== filteredValue) {
        input.value = filteredValue;
      }

      const isHexadecimal = /^([0-9A-F]{3}){1,2}$/i.test(expandHexColor(input.value));
      
      if (isHexadecimal) {
          colorPicker.value = "#"+expandHexColor(input.value);
      }
    });

  });
</script>
<%- include('./partials/footer'); -%>