<%- include('./partials/header'); -%>
<main class="main__accounts">
  <h1 class="h1-user-page">Mes comptes</h1>
  
  <div class="main__container-list">

    <%- include('./partials/searchContainer'); -%>

    <div class="add-container">
      <button class="input-logo add-button" id="addButton">
        <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
      </button>
    </div>
        
  <% locals.accounts.forEach(account => { %>   
    <div data-id="<%= account.id %>" data-name="<%= account.name %>" data-type="account" id="account-<%= account.id %>" style="background-color:<%= account.color %>" class="container-list__account-color">     
      <article class="main__article-account">
        <div slot="account-name" class="article__title">
          <h2 id="account-name"><%= account.name %></h2>
        </div>
        <a class="link-div" href="/accounts/<%= account.id%>/characters">
          <img class="article__logo-server" src="/images/<%= account.server.img %>" alt="image du serveur">
        </a>
        <div data-server="<%= account.server.id %>" slot="account-server" class="article__title">
          <h2 id="account-server-name"><%= account.server.name %></h2>
        </div>
        <div class="article__container-logo">   
          <a href="/accounts/<%= account.id%>/characters">
            <button class="input-logo --bgyellow">
              <i class="fa-solid fa-person-half-dress " style="color: #000000;"></i>
            </button>
          </a>
          <button class="input-logo --bgblue" data-toggle="update-modal">
            <i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i>
          </button>
          <button class="input-logo --bgred" data-toggle="delete-modal">
            <i class="fa-regular fa-trash-can"  style="color: #ffffff;"></i>
          </button>
        </div>
      </article>
    </div>       
  <% }) %>
  </div>

  <%- include('./partials/successNotif'); -%>

  <%- include('./partials/failNotif'); -%>

  <%- include('./partials/createAccountModal'); -%>

  <%- include('./partials/updateAccountModal'); -%>

  <%- include('./partials/deleteModal'); -%>

</main>

<script type="module" src="/js/inits/initAccountPage.js"></script>

<%- include('./partials/footer'); -%>
