<%- include('./partials/header'); -%>
<main class="main__admin">
  <h1>Gestion des users - Administrateurs</h1>
  <%- include('./partials/adminNavBar'); -%>
  
  <div class="main__container-list">

    <form class="form__search" action="/admin/users" method="GET">
      <div class="form__search-container">
        <input type="text" id="searchInput" name="search" placeholder="Entrez votre recherche ici" required>
        <button type="submit">Rechercher</button>
      </div>
    </form>

    <table>
      <thead>
        <tr>
          <% locals.attributes.forEach(attribute => { %>
            <% if (attribute !== "password") { %>
              <th><%= attribute %></th>
            <% } %>
          <% }) %>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < locals.users.length; i++) { %>
          <tr>
            <% locals.attributes.forEach(attribute => { %>
              <% if (attribute !== "password") { %>
                <% if (attribute === "created_at" || attribute === "updated_at") { %>
                <td class="table__td-date"><%= new Date(locals.users[i][attribute]).toLocaleString('fr') %></td>
                <% }else{ %>
                  <td data-tooltip="<%= locals.users[i][attribute] %>"><%= locals.users[i][attribute] %></td>
                <%}%>
              <% } %>
            <% }) %>
            <td class="table__td-logo"><a href="/admin/users/update/<%= locals.users[i].id%>"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></td>
            <td class="table__td-logo"><a href="/admin/users/delete/<%= locals.users[i].id%>"><i class="fa-regular fa-trash-can" style="color: #000000;"></i></a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div class="tooltip" id="tooltip"></div>
  </div>
  <script>
    const cells = document.querySelectorAll('td');
const tooltip = document.getElementById('tooltip');

cells.forEach((cell) => {
  cell.addEventListener('mouseover', (event) => {
    const text = event.target.getAttribute('data-tooltip');
    tooltip.textContent = text;
    tooltip.style.display = 'block';
  });

  cell.addEventListener('mouseout', () => {
    tooltip.style.display = 'none';
  });

  cell.addEventListener('mousemove', (event) => {
    tooltip.style.top = `${event.pageY + 10}px`;
    tooltip.style.left = `${event.pageX + 10}px`;
  });
});

  </script>
</main>
<%- include('./partials/footer'); -%>