<%- include('./partials/header'); -%>
<main class="main__admin">
  <h1>Gestion des users - Administrateurs</h1>
  <%- include('./partials/adminNavBar'); -%>
  
  <div class="main__container-list">

    
    <form class="form__search" action="/admin/users" method="GET">
<%- include('./partials/searchContainer'); -%>
    </form>

    <table>
      <thead>
        <tr>
          <% locals.attributes.forEach(attribute => { %>
            <% if (attribute !== "password" && attribute !== "mode" && attribute !== "status") { %>
              <th><%= attribute %></th>
            <% } %>
          <% }) %>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < locals.rows.length; i++) { %>
          <tr data-id="<%= locals.rows[i].id%>" data-type="admin-<%= locals.type%>">
            <% locals.attributes.forEach(attribute => { %>
              <% if (attribute !== "password" && attribute !== "mode" && attribute !== "status") { %>
                <% if (attribute === "created_at" || attribute === "updated_at") { %>
                <td class="table__td-date"><%= new Date(locals.rows[i][attribute]).toLocaleString('fr') %></td>
                <% }else{ %>
                  <td data-tooltip="<%= locals.rows[i][attribute] %>"><%= locals.rows[i][attribute] %></td>
                <%}%>
              <% } %>
            <% }) %>
            <td class="table__td-logo"><a href="/admin/<%= locals.type%>s/update/<%= locals.rows[i].id%>"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></td>
            <td class="table__td-logo" data-toggle="delete-modal"><i class="fa-regular fa-trash-can" style="color: #000000;"></i></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <div class="tooltip" id="tooltip"></div>
  </div>
  <script>
    const cells = document.querySelectorAll('td');
const tooltip = document.getElementById('tooltip');

cells.forEach((cell) => {
  cell.addEventListener('mouseover', (event) => {
    const text = event.target.getAttribute('data-tooltip');
    tooltip.textContent = text;
    tooltip.style.display = 'block';
  });

  cell.addEventListener('mouseout', () => {
    tooltip.style.display = 'none';
  });

  cell.addEventListener('mousemove', (event) => {
    tooltip.style.top = `${event.pageY + 10}px`;
    tooltip.style.left = `${event.pageX + 10}px`;
  });
});

  </script>
</main>

<%- include('./partials/successNotif'); -%>

<%- include('./partials/failNotif'); -%>

<%- include('./partials/deleteModal'); -%>

<script type="module" src="/js/inits/initAdminTablePage.js"></script>

<%- include('./partials/footer'); -%>