<%- include('./partials/header'); -%>
<main class="main__admin">
  <h1>Gestion des serveurs - Administrateurs</h1>
  <%- include('./partials/adminNavBar'); -%>
  
  <div class="main__container-list">
    <article class="main__article">
      <form onsubmit="updateServer(event,'<%= server.id %>')" id="updateServerForm" class="article__form" enctype="multipart/form-data">
        <label for="serverName">Nom du serveur</label>
        <input type="text" id="serverName" name="serverName" value="<%= locals.server.name%>" required>

        <label for="game1"> 
          <img src="/images/dofusretro.jpeg" alt="logo dofus rétro">
        </label>
        <% if (locals.server.game === "dofus retro") { %>
         <input type="radio" id="game1" name="game" value="dofus retro" checked required>
        <% }else{ %>
          <input type="radio" id="game1" name="game" value="dofus retro" required>
        <% } %>
        
        <label for="game2">
          <img src="/images/dofus.jpeg" alt="logo dofus 2">
        </label>
        <% if (locals.server.game === "dofus 2") { %>
          <input type="radio" id="game2" name="game" value="dofus 2" checked required>
         <% }else{ %>
          <input type="radio" id="game2" name="game" value="dofus 2" required>
         <% } %>
        
        <label for="serverImage">Image</label>
        
        <input type="file" id="serverImage" name="serverImage" accept="image/*">

        <input class="form__input" type="submit" value="Modifier">
        <a href="/admin/servers"><input class="form__input" type="button" value="Retour"></a>
      </form>
    </article>
    <article class="main__article">
      <img class="admin__logo-update" id="previewImage" src="/images/<%= locals.server.img%>" alt="Logo du serveur <%=locals.server.name%>">
    </article>
    
    <script>
      const imageInput = document.getElementById('serverImage');
      const previewImage = document.getElementById('previewImage');

      imageInput.addEventListener('change', function(event) {
        const file = event.target.files[0];

        if (file) {
          const reader = new FileReader();
          reader.onload = function(event) {
            previewImage.src = event.target.result;
          };
          reader.readAsDataURL(file);
        }
      });

      function updateServer(event, serverId) {
        event.preventDefault();

        const form = document.getElementById('updateServerForm');
        const formData = new FormData(form);

        fetch(`/admin/servers/${serverId}`, {
          method: 'PATCH',
          body: formData
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Erreur lors de la mise à jour du serveur');
          }else{
            console.log("Server update");
          }
        })
        .catch(error => {
          console.error('Erreur :', error);
        });
      }
    </script>

  </div>
</main>
<%- include('./partials/footer'); -%>