<%- include('./partials/header'); -%>
<main class="main__admin">
  <h1>Gestion des serveurs - Administrateurs</h1>
  <%- include('./partials/adminNavBar'); -%>
  
  <div class="main__container-list">
    <article class="main__article">
      <button id="addButton" class="article__circular-button">+</button>
      <form action="/admin/servers" method="POST" id="addServerForm" class="article__form hidden" enctype="multipart/form-data">
        <label for="serverName">Nom du serveur</label>
        <input type="text" id="serverName" name="serverName" required>

        <label for="game1"> 
          <img src="/images/dofusretro.jpeg" alt="logo dofus rétro">
        </label>
        <input type="radio" id="game1" name="game" value="dofus retro" checked required>

        <label for="game2">
          <img src="/images/dofus.jpeg" alt="logo dofus 2">
        </label>
        <input type="radio" id="game2" name="game" value="dofus 2" required>
        
        <label for="serverImage">Image</label>
        <input type="file" id="serverImage" name="serverImage" accept="image/*" required>

        <input class="form__input" type="submit" value="Ajouter">
        <input class="form__input" type="button" id="cancelAdd" value="Annuler">
      </form>
    </article>
    <% locals.servers.forEach(server => { %>
      <article class="main__article">
        <div class="main__article-title"><h2><%= server.name %></h2></div>
        <img class="article__logo-server" src="/images/<%= server.img %>" alt="image du serveur">
        <a href="/admin/servers/update/<%= server.id %>"><input class="form__input" type="button" value="Modifier"></a>
        <a href="/admin/servers/delete/<%= server.id %>"><input class="form__input" type="button" value="Supprimer"></a>
      </article>
    <% }) %>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('addButton');
    const addServerForm = document.getElementById('addServerForm');
    const cancelButton = document.getElementById('cancelAdd');

    addButton.addEventListener('click', function() {
      addServerForm.classList.toggle('hidden');
      addButton.classList.toggle('hidden');
    });

    cancelButton.addEventListener('click', function() {
      addServerForm.classList.toggle('hidden');
      addButton.classList.toggle('hidden');
    });
  });
</script>
<%- include('./partials/footer'); -%>