<%- include('./partials/header'); -%>
<main class="main__index">
  <h1>
    Tous les personnages
    <% if(serverName !== undefined){%>
      : serveur 
      <%= serverName%>
    <% } %>
  </h1>

  <div class="main__container-list column">
    <form class="form__search" action="/id/characters" method="GET">
      <div class="form__search-container">
        <input
          type="text"
          id="searchInput"
          name="search"
          placeholder="Recherche par nom"
          required
        />
        <button type="submit">Rechercher</button>
      </div>
    </form>

    <%- include('./partials/tableCharacters'); -%>

  </div>

  <%- include('./partials/deleteConfirmDiv'); -%>

  <%- include('./partials/updateCharacterForm'); -%>

</main>

<script src="/js/formAddCharacter.js"></script>
<script src="/js/formUpdateCharacter.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<script src="/js/characterPageScript.js"></script>

<%- include('./partials/footer'); -%>
