<%- include('./partials/header'); -%>
<main class="main__index">
  <h1 class="h1-admin-page">Personnages sur le compte <%=account.name %></h1>

  <div class="admin__container-list column">
    <form id="formSearch" class="form__search" action="/<%=account.id%>/characters" method="GET">
      <div class="form__search-container search-characters">
        <input
          type="text"
          id="searchInput"
          name="search"
          placeholder="Recherche par nom"
          required
        />
        <button type="submit">Rechercher</button>
      </div>
    </form>

    <article class="open-form-character bg--white" id="open-character-form">
      <button id="addButton" class="circular-button">+</button>
    </article>

    <article
      class="add-character-form bg--white hidden"
      id="add-character-form"
    >
      <form
        action="/character-add/<%= locals.user ? locals.user.id : ''%>/<%= locals.accountId %>"
        method="POST"
        class="addAccountForm"
      >
        <div class="container__section">
          <section class="section__input-text">
            <label for="name">Nom du personnage</label>
            <input
              class="h1r5 input-text"
              type="text"
              id="name"
              name="name"
              maxlength="20"
              required
            />
          </section>
          <section class="section__input-text">
            <label for="type">Enclos</label>
            <select class="h1r5 select-class" id="type" name="type" required>
              <option value="private" selected>Privée</option>
              <option value="public">Public</option>
            </select>
          </section>
        </div>
        <label for="classe">Classe</label>
        <select class="h1r5 select-class" id="classe" name="classe" required>
          <option value="enu" data-img="/images/enu.png">Enu</option>
          <option value="cra" data-img="/images/cra.png">Cra</option>
          <option value="iop" data-img="/images/iop.png">Iop</option>
          <option value="sadi" data-img="/images/sadi.png">Sadi</option>
          <option value="sacri" data-img="/images/sacri.png">Sacri</option>
          <option value="feca" data-img="/images/feca.png">Feca</option>
          <option value="panda" data-img="/images/panda.png">Panda</option>
          <option value="eni" data-img="/images/eni.png">Eni</option>
          <option value="osa" data-img="/images/osa.png">Osa</option>
          <option value="eca" data-img="/images/eca.png">Eca</option>
          <option value="sram" data-img="/images/sram.png">Sram</option>
          <option value="xelor" data-img="/images/xelor.png">Xelor</option>
        </select>

        <div class="genre-container">
          <section class="section-genre">
            <h2>Male</h2>
            <label for="spemale">Spécialité</label>
            <input
              type="radio"
              id="aucune-m"
              name="spemale"
              value="aucune"
              checked
              required
            />
            <label for="aucune-m">Aucune</label>
            <input type="radio" id="repro-m" name="spemale" value="repro" />
            <label for="repro-m">Repro</label>
            <input type="radio" id="came-m" name="spemale" value="camé" />
            <label for="came-m">Camé</label>
            <div class="open-breed" id="open-breed-male">+</div>
          </section>
          <section class="section-genre">
            <h2>Femelle</h2>
            <label for="spefemale">Spécialité</label>
            <input
              type="radio"
              id="aucune-f"
              name="spefemale"
              value="aucune"
              checked
              required
            />
            <label for="aucune-f">Aucune</label>
            <input type="radio" id="repro-f" name="spefemale" value="repro" />
            <label for="repro-f">Repro</label>
            <input type="radio" id="came-f" name="spefemale" value="camé" />
            <label for="came-f">Camé</label>
            <div class="open-breed" id="open-breed-female">+</div>
          </section>
          <input class="hidden" id="breed-male-value" type="text" name="breedmale" value="" required>
          <input class="hidden" id="breed-female-value" type="text" name="breedfemale" value="" required>
        </div>

        <div class="breed-list hidden" id="breed-list">
          <section class="section-breed">
            <% breeds.forEach(breed => { %>
              <figure class="figure-dd">
                <img class="image-dd" src="<%= breed.image%>" alt="Dragodinde <%= breed.color%>">
                <figcaption class="figcaption-dd"><%= breed.id%></figcaption>
              </figure>
            <% }) %>
          </section>
            <input
              class="input-submit-bis bg--red"
              type="button"
              id="close-breed"
              value="X"
            />
        </div>

        <div>
          <input
            class="input-submit-bis bg--red"
            type="button"
            id="cancelAdd"
            value="X"
          />
          <input class="input-submit-bis bg--green" type="submit" value="O" />
        </div>
      </form>
    </article>

    <table>
      <thead>
        <tr>
          <th>Serveur</th>
          <th>Personnage</th>
          <th>Reproduction</th>
          <th>Accouchement</th>
          <th>Male</th>
          <th>Femelle</th>
          <th>Specialité</th>
          <th>Réaccoupler</th>
          <th>Statut</th>
          <th>Reproduction</th>
          <th>Modifier</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        
      <% characters.forEach(character => { %>
        <tr id="character-<%= character.id %>">
         <td style="background-color: <%= character.account.color %>">
            <a href="/accounts?server=<%= character.account.server.id %>" class="inline-block">
              <img class="table__img-server" src="/images/<%= character.account.server.img %>" alt="logo du serveur dofus <%= character.account.server.name %>" >
            </a>
          </td>
          <td style="background-color: <%= character.account.color %>">
            <div class="table__account"><%= character.account.name %></div>
            <img class="table__img-perso" src="/images/perso-<%= character.class%>.png" alt="classe du jeu dofus: <%= character.class%>">
            <div class="table__character"><%= character.name %></div>
          </td>
          <td class="table__date">
            <div><%= character.dayRepro %></div>
            <div><%= character.dateRepro %></div>
            <div><%= character.hoursRepro %></div> 
          </td>
          <td class="table__date">
            <div><%= character.dayBirth %></div>
            <div><%= character.dateBirth %></div>
            <div><%= character.hoursBirth %></div> 
          </td>
          <td><img src="<%= character.breedMale.image %>" alt="dragodinde <%= character.breedMale.name %>" ></td>
          <td><img src="<%= character.breedFemale.image %>" alt="dragodinde <%= character.breedFemale.name %>" ></td>
          <td class="table__spe">
            <section class="section-speciality">
              <%= character.speMale %>
            </section>
            <section class="section-speciality">
              <%= character.speFemale %>
            </section>
          </td>
          <td>
            <button class="button-reproduction">
            <img src="/images/bouttonrepro.png" class="table__couple" alt="deux chiens qui s'accouplent" >
            </button>
          </td>
          <td>Féconde</td>
          <td><%= character.reproduction %> / 20</td>
          <td>
            <button class="delete-button" onclick="displayUpdate('<%= JSON.stringify(character) %>')">
              <i class="fa-regular fa-pen-to-square" style="color: #000000"></i
            ></button>
          </td>
          <td>
            <button class="delete-button" onclick="displayConfirmation('<%= character.id %>')">
              <i class="fa-regular fa-trash-can" style="color: #000000"></i
            ></button>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
  <div class="confirmation-box" id="confirmationBox">
    <div class="confirmation-content">
      <p>Êtes-vous sûr de vouloir supprimer ce personnage?</p>
      <button onclick="confirmDelete()">Oui</button>
      <button onclick="closeConfirmation()">Non</button>
      <span id="selectedDelete" class="hidden"></span>
    </div>
  </div>
  <div class="update-box" id="updateBox">
    <div class="update-content">
      <h2>Modification du personnage</h2>
      <form
      id="form-update"
      class="addAccountForm"
      >
      <div class="container__section">
        <section class="section__input-text">
          <label for="updateName">Nom du personnage</label>
          <input
            class="h1r5 input-text"
            type="text"
            id="updateName"
            name="update-name"
            maxlength="20"
            required
          />
        </section>
        <section class="section__input-text">
          <label for="updateType">Enclos</label>
          <select class="h1r5 select-class" id="updateType" name="update-type" required>
            <option value="private">Privée</option>
            <option value="public">Public</option>
          </select>
        </section>
        <section class="section__input-text">
          <label for="updateRepro">Reproductions</label>
          <input class="h1r5" type="number" id="numberInput" min="0" max="20" value="0" required>
        </section>
        <section class="section__input-text">
          <label for="update-account">Compte</label>
          <select class="h1r5" id="update-account" name="update-account" required>
            <% accounts.forEach( account => { %>
             <option value="<%= account.id %>"><%= account.name %></option>
            <% }) %>
          </select>
        </section>
      </div>
      <label for="updateClasse">Classe</label>
      <select class="h1r5 select-class" id="updateClasse" name="update-classe" required>
        <option value="enu" data-img="/images/enu.png">Enu</option>
        <option value="cra" data-img="/images/cra.png">Cra</option>
        <option value="iop" data-img="/images/iop.png">Iop</option>
        <option value="sadi" data-img="/images/sadi.png">Sadi</option>
        <option value="sacri" data-img="/images/sacri.png">Sacri</option>
        <option value="feca" data-img="/images/feca.png">Feca</option>
        <option value="panda" data-img="/images/panda.png">Panda</option>
        <option value="eni" data-img="/images/eni.png">Eni</option>
        <option value="osa" data-img="/images/osa.png">Osa</option>
        <option value="eca" data-img="/images/eca.png">Eca</option>
        <option value="sram" data-img="/images/sram.png">Sram</option>
        <option value="xelor" data-img="/images/xelor.png">Xelor</option>
      </select>

      <div class="genre-container">
        <section class="section-genre">
          <h2>Male</h2>
          <label for="update-spemale">Spécialité</label>
          <input
            type="radio"
            id="update-aucune-m"
            name="update-spemale"
            value="aucune"
            checked
            required
          />
          <label for="update-aucune-m">Aucune</label>
          <input type="radio" id="update-repro-m" name="update-spemale" value="repro" />
          <label for="update-repro-m">Repro</label>
          <input type="radio" id="update-came-m" name="update-spemale" value="camé" />
          <label for="update-came-m">Camé</label>
          <div class="open-breed" id="update-open-breed-male">+</div>
        </section>
        <section class="section-genre">
          <h2>Femelle</h2>
          <label for="update-spefemale">Spécialité</label>
          <input
            type="radio"
            id="update-aucune-f"
            name="update-spefemale"
            value="aucune"
            checked
            required
          />
          <label for="update-aucune-f">Aucune</label>
          <input type="radio" id="update-repro-f" name="update-spefemale" value="repro" />
          <label for="update-repro-f">Repro</label>
          <input type="radio" id="update-came-f" name="update-spefemale" value="camé" />
          <label for="update-came-f">Camé</label>
          <div class="open-breed" id="update-open-breed-female">+</div>
        </section>
        <input class="hidden" id="update-breed-male-value" type="text" name="update-breedmale" value="" required>
        <input class="hidden" id="update-breed-female-value" type="text" name="update-breedfemale" value="" required>
      </div>

      <div class="breed-list hidden" id="update-breed-list">
        <section class="section-breed">
          <% breeds.forEach(breed => { %>
            <figure class="update-figure-dd">
              <img class="image-dd" src="<%= breed.image%>" alt="Dragodinde <%= breed.color%>">
              <figcaption class="figcaption-dd"><%= breed.id%></figcaption>
            </figure>
          <% }) %>
        </section>
          <input
            class="input-submit-bis bg--red"
            type="button"
            id="update-close-breed"
            value="X"
            onclick="confirmUpdate()"
          />
      </div>

      <div>
        <input
          class="input-submit-bis bg--red"
          type="button"
          id="update-cancelAdd"
          value="X"
          onclick="closeUpdate()"
        />
        <input class="input-submit-bis bg--green" type="submit" value="O" />
      </div>
    </form>
    </div>
  </div>
</main>

<script src="/js/formAddCharacter.js"></script>
<script src="/js/formUpdateCharacter.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<script>
  $(document).ready(function() {
    $('#classe').select2({
      templateResult: function(data) {
        var $option = $(data.element);
        var $img = $option.attr('data-img');
        if ($img) {
          return $('<span><img src="' + $img + '" class="select-img" /> ' + data.text + '</span>');
        }
        return data.text;
      }
    });
  });

  $(document).ready(function() {
    $('#updateClasse').select2({
      templateResult: function(data) {
        var $option = $(data.element);
        var $img = $option.attr('data-img');
        if ($img) {
          return $('<span><img src="' + $img + '" class="select-img" /> ' + data.text + '</span>');
        }
        return data.text;
      }
    });
  });

  async function deleteCharacter(characterId) {
    try {
      const response = await fetch(`/characters/${characterId}`, {
          method: 'DELETE',
          headers: {
              'Content-Type': 'application/json'
          }
      });

      if (response.ok) {
          const deletedElement = document.querySelector(`#character-${characterId}`);
          if (deletedElement) {
              deletedElement.remove();
          }
      } else {
          console.error('La suppression a échoué.');
      }
    } catch (error) {
        console.error('Une erreur est survenue :', error);
    }
  }

  function displayConfirmation(id) {
    const confirmationBox = document.getElementById('confirmationBox');
    const selectedDeleteId = document.getElementById('selectedDelete');
    selectedDeleteId.textContent=id;
    confirmationBox.style.display = 'block';
  }

  function closeConfirmation() {
      const confirmationBox = document.getElementById('confirmationBox');
      confirmationBox.style.display = 'none';
  }

  function confirmDelete(id) {
    const selectedDeleteId = document.getElementById('selectedDelete');
    deleteCharacter(selectedDeleteId.textContent);
    closeConfirmation();
    console.log('Suppression confirmée');
  }

  async function updateCharacter(character) {
    try {
      const response = await fetch(`/characters/${character.id}`, {
          method: 'PATCH',
          headers: {
              'Content-Type': 'application/json'
          }
      });
      if (response.ok) {
          const deletedElement = document.querySelector(`#character-${characterId}`);
          if (deletedElement) {
              deletedElement.remove();
          }
      } else {
          console.error('La suppression a échoué.');
      }
    } catch (error) {
        console.error('Une erreur est survenue :', error);
    }
  }

  function displayUpdate(character) {
    const characterParsed = JSON.parse(character);

    const updateBox = document.getElementById('updateBox');
    const updateName = document.getElementById('updateName');
    const updateType = document.getElementById('updateType');
    const updateClasse = document.getElementById('updateClasse');
    const updateSpemale = document.getElementById('update-spemale');
    const updateSpefemale = document.getElementById('update-spefemale');
    const updateClasseInput = document.getElementById('select2-updateClasse-container');
    const updateOpenMale = document.getElementById('update-open-breed-male');
    const updateOpenFemale = document.getElementById('update-open-breed-female');
    const updateBreedMale = document.getElementById('update-breed-male-value');
    const updateBreedFemale = document.getElementById('update-breed-female-value');
    const updateAccount = document.getElementById('update-account');

    const updateAucuneMale = document.getElementById('update-aucune-m');
    const updateAucuneFemale = document.getElementById('update-aucune-f');
    const updateReproMale = document.getElementById('update-repro-m');
    const updateReproFemale = document.getElementById('update-repro-f');
    const updateCameMale = document.getElementById('update-came-m');
    const updateCameFemale = document.getElementById('update-came-f');

    updateName.value=characterParsed.name;
    updateType.value=characterParsed.type;
    updateBox.value=characterParsed.type;
    updateClasse.value=characterParsed.class;
    updateClasseInput.textContent=characterParsed.class.charAt(0).toUpperCase() + characterParsed.class.slice(1);
    updateOpenMale.innerHTML = `<img src='${characterParsed.breedMale.image}' alt='dragodinde ${characterParsed.breedMale.name} dans le jeu dofus'>`;
    updateOpenFemale.innerHTML = `<img src='${characterParsed.breedFemale.image}' alt='dragodinde ${characterParsed.breedFemale.name} dans le jeu dofus'>`;
    updateBreedMale.value=characterParsed.breedMale.id;
    updateBreedFemale.value=characterParsed.breedFemale.id;
    updateAccount.value=characterParsed.account.id;

    if(characterParsed.speMale === "aucune"){
      updateAucuneMale.checked = true;
      updateReproMale.checked = false;
      updateCameMale.checked = false;
    }else if(characterParsed.speMale === "repro"){
      updateAucuneMale.checked = false;
      updateReproMale.checked = true;
      updateCameMale.checked = false;
    }else{
      updateAucuneMale.checked = false;
      updateReproMale.checked = false;
      updateCameMale.checked = true;
    }

    if(characterParsed.speFemale === "aucune"){
      updateAucuneFemale.checked = true;
      updateReproFemale.checked = false;
      updateCameFemale.checked = false;
    }else if(characterParsed.speFemale === "repro"){
      updateAucuneFemale.checked = false;
      updateReproFemale.checked = true;
      updateCameFemale.checked = false;
    }else{
      updateAucuneFemale.checked = false;
      updateReproFemale.checked = false;
      updateCameFemale.checked = true;
    }

    updateBox.style.display = 'block';
  }

  function closeUpdate() {
      const updateBox = document.getElementById('updateBox');
      updateBox.style.display = 'none';
  }

  function confirmUpdate(id) {
    updateCharacter();
    closeUpdate();
    console.log('Modification réussie');
  }

</script>

<%- include('./partials/footer'); -%>
