<%- include('./partials/header'); -%>
<main class="main__index">
  <h1>
    Tous les personnages
    <% if(serverName){%>
      : serveur 
      <%= serverName%>
    <% }else if(account){ %>
      : compte
      <%= account.name%>
    <% } %>
  </h1>

  <div class="main__container-list column">

    <%- include('./partials/searchContainer'); -%>

    <% if (account) { %>
      <div data-account="<%= account.id %>" class="add-container">
        <button class="input-logo add-button" id="addButton">
          <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
        </button>
      </div>
    <% } %>
    
    <%- include('./partials/tableCharacters'); -%>

  </div>

  <%- include('./partials/successNotif'); -%>

  <%- include('./partials/failNotif'); -%>

  

  <%- include('./partials/updateCharacterModal'); -%>

  <%- include('./partials/deleteModal'); -%>

</main>

<% if (account) { %>
  <%- include('./partials/createCharacterModal'); -%>
  <script type="module "src="/js/formAddCharacter.js"></script>
<% } %>


<!-- <script src="/js/formUpdateCharacter.js"></script>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> 

<script type="module" src="/js/initCharacterPage.js"></script>
<script src="/js/formUpdateCharacter.js"></script>

<%- include('./partials/footer'); -%>
