<%- include('./partials/header'); -%>
<main class="main__index">
  <h1>
    Enclos Privé
  </h1>

  <div class="container__list-accounts" data-server="server">

  <% locals.accounts.forEach(account => { %>

    <ul class="container__account" data-id="id" style="background-color:<%= account.color %>">
      <h2><%= account.name %></h2>

      <% account.characters.forEach(character => { %>

        <li data-id="<%= character.id %>" class="article__character">
          <h3><%= character.name %></h3>
          <div class="character__header">
            <div class="character__header-class">
              <img src="/images/<%= character.class %>.png">
            </div>
            <div class="character__header-logos">
              <div class="character__header-mature">
                <img src="/images/abreuvoir.png">
              </div>
              <div class="character__header-training">
                <img src="/images/dragodindelogo.png">
              </div>
            </div> 
          </div>

          <div class="character__main-status <%= character.status.toLowerCase()%>"><%= character.status%></div>
          <div class="character__genre-container">
            <span>
              <i class="fa-solid fa-mars fa-sm" style="color: #1d5ac3;"></i>
            </span>
            <span>
              <i class="fa-solid fa-venus fa-sm" style="color: #fb63fd;"></i>
            </span>
          </div>
          <div class="character__footer">
            <div class="character__footer-male">
              <select data-genre="male" class="custom-select" name="nbmale" value="<%= character.nbMale %>">
                <% console.log(character.nbMale) %>
                <% for (let index = 0; index <= 200; index++) { %>
                  <% if (character.nbMale === index) { %>
                    <option value="<%=index%>" selected><%=index%></option>
                  <% }else{ %>
                    <option value="<%=index%>"><%=index%></option>
                  <% } %>
                <%} %>
              </select>
            </div>
            <div class="character__footer-female">
              <select data-genre="female" class="custom-select" name="nbfemale" value="<%= character.nbFemale %>">
                <% for (let index = 0; index <= 200; index++) { %>
                  <% if (character.nbFemale === index) { %>
                    <option value="<%=index%>" selected><%=index%></option>
                  <% }else{ %>
                    <option value="<%=index%>"><%=index%></option>
                  <% } %>
                <%} %>
              </select>
            </div>
          </div>
        </li>

      <% }) %>

    </ul>

  <% }) %>

  </div>

  <%- include('./partials/successNotif'); -%>

  <%- include('./partials/failNotif'); -%>

</main>

<script type="module" src="/js/inits/initPrivatePage.js"></script>

<%- include('./partials/footer'); -%>