<%- include('./partials/header'); -%>
<main class="main__index">
  <h1>
    Enclos Privé
  </h1>

  <div class="container__list-accounts" data-server="server">

  <% locals.accounts.forEach(account => { %>

    <ul class="container__account" data-id="id" style="background-color:<%= account.color %>">
      <h2><%= account.name %></h2>

      <% account.characters.forEach(character => { %>

        <li data-id="<%= character.id %>" class="article__character">
          <div class="character__title">
            <img src="/images/<%= character.class%>.png">
            <h3><%= character.name %></h3>
            <img src="/images/<%= character.class%>.png">
          </div>
            

            <div class="character__container">
              <div class="character__breed-img">
                <img src="<%= character.breedFemale.image %>">
              </div>
              <div class="character__container-footer">
                <div class="character__number">
                  <select data-genre="male" class="custom-select" name="nbmale" value="<%= character.nbMale %>">
                    <% for (let index = 0; index <= 200; index++) { %>
                      <% if (character.nbMale === index) { %>
                        <option value="<%=index%>" selected><%=index%></option>
                      <% }else{ %>
                        <option value="<%=index%>"><%=index%></option>
                      <% } %>
                    <%} %>
                  </select>
                </div>
                <div class="character__genre">
                  <span>
                  <i class="fa-solid fa-mars fa-sm" style="color: #1d5ac3;"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="character__container-logos">
              <button>
                <img src="/images/abreuvoir.png">
              </button>
              <button>
                <img src="/images/mangeoire.png">
              </button>
              <button>
                <img src="/images/dragodindelogo.png">
              </button>
              <button>
                <img src="/images/baffeur.png">
              </button>
              <button>
                <img src="/images/endu.png">
              </button>
              <button>
                <i class="fa-solid fa-xmark" style="color: red;"></i>
              </button>
              <button>
                <img src="/images/caresse.png">
              </button>
              <button>
                <img src="/images/amour.png">
              </button>
              <button>
                <i class="fa-solid fa-check" style="color: green;"></i>
              </button>
            </div>
            
            <div class="character__container">
              <div class="character__breed-img">
                <img src="<%= character.breedFemale.image %>">
              </div>
              <div class="character__container-footer">
                <div class="character__number">
                  <select data-genre="female" class="custom-select" name="nbfemale" value="<%= character.nbMale %>">
                    <% for (let index = 0; index <= 200; index++) { %>
                      <% if (character.nbFemale === index) { %>
                        <option value="<%=index%>" selected><%=index%></option>
                      <% }else{ %>
                        <option value="<%=index%>"><%=index%></option>
                      <% } %>
                    <%} %>
                  </select>
                </div>
                <div class="character__genre">
                  <span>
                  <i class="fa-solid fa-venus fa-sm" style="color: #fc00ef;"></i>
                  </span>
                </div>
              </div>
            </div>

        </li>

      <% }) %>

    </ul>

  <% }) %>

  </div>

  <%- include('./partials/successNotif'); -%>

  <%- include('./partials/failNotif'); -%>

</main>

<script type="module" src="/js/inits/initPrivatePage.js"></script>

<%- include('./partials/footer'); -%>