<%- include('./partials/header'); -%>
<main class="main__index">
  <h1>PROFIL</h1>

  <div class="profil__container" data-id="<%= locals.usersAdmin ? usersAdmin.id : user.id%>">
    <h2>Informations</h2>
    <div class="profil__header-role">
      <img
        src="/images/<%= locals.usersAdmin ? usersAdmin.role : user.role%>.png"
        alt="Image représentant le rôle de l'utilisateur sur le site"
      />
      <h3>Role : <%= locals.usersAdmin ? usersAdmin.role : user.role%></h3>
    </div>

    <div data-type="pseudo" class="profil__header-pseudo">
      <strong>Pseudo :</strong>
      <span><%= locals.usersAdmin ? usersAdmin.pseudo : user.pseudo%></span>
      <button aria-label="modifier son pseudo" data-toggle="update-modal">
        <i class="fa-solid fa-pen" style="color: #005eff"></i>
      </button>
    </div>

    <div data-type="lastname" class="profil__header-lastname">
      <strong>Nom :</strong>
      <span><%= locals.usersAdmin ? usersAdmin.lastname : user.lastname%></span>
      <button aria-label="modifier son nom" data-toggle="update-modal">
        <i class="fa-solid fa-pen" style="color: #005eff"></i>
      </button>
    </div>

    <div data-type="firstname" class="profil__header-firstname">
      <strong>Prénom :</strong>
      <span><%= locals.usersAdmin ? usersAdmin.firstname : user.firstname%></span>
      <button aria-label="modifier son prénom" data-toggle="update-modal">
        <i class="fa-solid fa-pen" style="color: #005eff"></i>
      </button>
    </div>

    <div data-type="email" class="profil__header-mail">
      <strong>Email :</strong>
      <span><%= locals.usersAdmin ? usersAdmin.email : user.email%></span>
      <button aria-label="modifier l'email" data-toggle="update-modal">
        <i class="fa-solid fa-pen" style="color: #005eff"></i>
      </button>
    </div>

    <div data-type="password" class="profil__header-password">
      <strong>Mot de passe :</strong>
      <span>****************</span>
      <button data-type="password" aria-label="modifier son mot de passe" data-toggle="update-modal">
        <i class="fa-solid fa-pen" style="color: #005eff"></i>
      </button>
    </div>

    <div class="profil__header-delete" data-id="<%= locals.usersAdmin ? usersAdmin.id : user.id%>" data-type="<%= locals.usersAdmin ? 'admin-user' : 'user' %>">
      <strong>Supprimer le compte :</strong>
      <button data-type="<%= locals.usersAdmin ? 'admin-user' : 'user' %>" aria-label="supprimer son compte" data-toggle="delete-modal">
        <i class="fa-solid fa-trash" style="color: #ff0000"></i>
      </button>
    </div>
  </div>

  <%- include('./partials/updateProfil'); -%>

  <%- include('./partials/deleteModal'); -%>

  <%- include('./partials/failNotif'); -%>

  <%- include('./partials/successNotif'); -%>

</main>

<script type="module" src="/js/inits/initProfilPage.js"></script>

<%- include('./partials/footer'); -%>
