<%- include('./partials/header'); -%>
<main class="main__servers">
  <h1 class="h1-user-page">Serveurs</h1>

  <div class="main__container-list">

    <%- include('./partials/searchContainer'); -%>

    <% locals.servers.forEach(server => { %>
      <div class="server-container" data-name="<%= server.name %>" data-type="server">
        <article class="main__article">
          <div class="main__article-title"><h2><%= server.name %></h2></div>
          <a class="link-div" href="/accounts?server=<%= server.id %>">
            <img class="article__logo-server" src="/images/<%= server.img %>" alt="image du serveur">
          </a>
          <div class="button-container">
            <a href="/accounts?server=<%= server.id %>">
              <input class="main__article-input" type="button" value="Mes comptes">
            </a>
            <a href="/characters?server=<%= server.id %>">
              <input class="main__article-input" type="button" value="Mes personnages">
            </a>
          </div>
        </article>
      </div>
    <% }) %>

  </div>
</main>

<script type="module" src="/js/inits/initServerPage.js"></script>

<%- include('./partials/footer'); -%>
