<%- include('./partials/header'); -%>
<main class="servers__main">
  <h1 class="h1-user-page">Serveurs</h1>

  <div class="container-list">
    <% locals.servers.forEach(server => { %>
      <div class="server-container">
        <article class="article__server">
          <div class="article__title-server"><h2><%= server.name %></h2></div>
          <a class="link-div" href="/accounts?server=<%= server.id %>">
            <img class="logo__server" src="/images/<%= server.img %>" alt="image du serveur">
          </a>
          <div class="button-container">
            <a href="/accounts?server=<%= server.id %>">
              <input class="input-form" type="button" value="Mes comptes">
            </a>
            <a href="/characters?server=<%= server.id %>">
              <input class="input-form" type="button" value="Mes personnages">
            </a>
          </div>
        </article>
      </div>
    <% }) %>
    
  </div>
</main>
<%- include('./partials/footer'); -%>
